.button {
  @include flex-center;

  font-size: rem($font-size-18);
  font-weight: $font-weight-medium;

  min-width: rem(120px);
  padding: rem($gap-xxs) rem($gap-s);

  cursor: pointer;
  user-select: none;
  transition: all .1s $default-transiton-type;

  border: none;
  border-radius: rem($border-radius-small);

  &--block {
    min-width: 100%;
  }

  &--green {
    @include button-color($cutty-sark, $clr-text-inverse);
  }

  &--sienna {
    @include button-color($burnt-sienna, $clr-text-inverse);
  }
}