.game-interface-question {
  display: flex;
  justify-content: center;
  
  text-align: center;

  &__flag {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: rem(320px);
    height: rem(180px);


    &-img {
      max-height: 100%;
      object-fit: contain;

     filter: $drop-shadow-default;
    }
  }

  &__text {
    font-size: rem($font-size-32);
    font-weight: $font-weight-medium;
  }
}