.default-layout {
  display: flex;
  flex-direction: column;

  min-height: 100vh;

  background-color: $clr-bg;

  &__header {
    flex-shrink: 0;
  }

  &__content {
    flex-grow: 1;

    padding-block: rem($gap-l);
  }

  &__footer {
    flex-shrink: 0;
  }
}