.sheet {
  max-width: rem(768px);
  padding: rem($gap-m);

  border-radius: rem($border-radius-medium);
  background-color: $white;
  box-shadow: $box-shadow-base;

  &--fluid {
    max-width: unset;
  }
}