.game-interface-end {
  min-height: rem(250px);

  display: grid;
  place-content: center;

  &__item {
    display: flex;
    flex-direction: column;
    gap: rem($gap-m);
  }

  &__message {
    font-size: rem($font-size-32);
    font-weight: $font-weight-bold;
    text-align: center;

    margin: 0;
  }

  &__result {
    font-size: rem($font-size-24);
    font-weight: $font-weight-medium;
    text-align: center;

    margin: 0;
  }
}