.game-interface-options {
  margin-top: rem($gap-m);

  &--flags & {
    &__item {
      all: unset;

      display: flex;
      justify-content: center;
      cursor: pointer;

      &-flag {
        max-width: rem(220px);
        max-height: rem(180px);

        transition: $default-transition;
        filter: $drop-shadow-default;

        @media (hover: hover) {
          &:hover {
            opacity: .8;
          }
        }

        @media #{$screen-mobile} {
          max-width: rem(180px);
          max-height: rem(120px);
        }
      }
    }
  }

  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: start;
    gap: rem($gap-xs);

    @media #{$screen-mobile} {
      grid-template-columns: 1fr;
    }
  }
}