.game-interface-question {
  $width: 320px;
  $height: 180px;
  $width--mobile: 260px;
  $height--mobile: 150px;

  display: flex;
  justify-content: center;
  
  text-align: center;

  &__flag {
    min-height: rem($height);

    @media #{$screen-mobile} {
      max-height: rem($height--mobile);
    }

    &-img {
      max-width: rem($width);
      max-height: rem($height);

     filter: $drop-shadow-default;

      @media #{$screen-mobile} {
        width: rem($width--mobile);
        height: rem($height--mobile);
      }
    }
  }

  &__text {
    font-size: rem($font-size-32);
    font-weight: $font-weight-medium;
  }
}